@{
    ViewBag.Title = "CANS Graphing System";
}

<html>

<body>
    <h1>CANS Business Intelligence</h1>

    <table>
        <th><li>@Html.ActionLink("Therapist", "SearchTherapists", "Graph")</li></th>
        <th><li>@Html.ActionLink("Patient", "SearchPatients", "Graph")</li></th>
    </table>
</body>
        </html>
