@using WebMatrix.Data;
@using System.Web.Helpers;
@model SeniorProject.Models.GraphSession

@{
    ViewBag.Title = "Select Therapist";
}

<html>

<body>
    <h1>Select Therapist</h1>

    <form method="post" action="">
        <fieldset>
            <legend>Please type the email of the therapist you wish to view the graphs of and then click "Submit." Currently, the graphs display the average CANS score of a given therpist's patients over the past 6 months, adjusted for length of patient stay. In the next release, it will be possible to specify parameters for graph generation.</legend>
            @using (Html.BeginForm())
            {
                <div>
                    <label>Email:</label>
                    @Html.TextBoxFor(m => m.UserEmail)
                </div>
                <div>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            }
        </fieldset>
    </form>
</body>
</html>
