@using WebMatrix.Data;
@using System.Web.Helpers;
@model SeniorProject.Models.GraphSession

@{
    ViewBag.Title = "Select Patient";

    var db = Database.Open("CANSDB");

    var selectQuery = "SELECT PatientID, LastName, FirstName FROM PATIENTS ORDER BY LastName";


}


<html>

<body>
    <h1>Select Patient</h1>

    <form method="post" action="">
        <fieldset>
            <legend>Select Patient</legend>
            @using (Html.BeginForm())
            {
            <div>
                @Html.TextBoxFor(m => m.PatientID)
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in db.Query(selectQuery))
                    {
                        <tr>
                            <td>@row.PatientID</td>
                            <td>@row.LastName</td>
                            <td>@row.FirstName</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        </fieldset>
    </form>
</body>
        </html>
