@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4203 Southpoint Blvd<br />
    Jacksonville, FL 32216<br />
    Phone: (904) 296-1055<br />
    Fax: (904) 296-1953<br />
</address>

<address>
    <strong>IT Support: </strong><a href="mailto:jwillard@danielkids.org​">Email Jim Willard</a><br />
</address>