@{
    ViewBag.Title = "Home Page";
}

<body>
    

    <h1>Welcome! </h1>

    <hr />

    <p>Welcome to the Daniel Kids CANS Monitoring System. Here, you should be able to 
    login and have access to the elelectronic version of the Child and Adolescent Needs 
    and Strengths (CANS) form. You will also be able to fill out the form for each of your patients and see record
    of their previously filled out CANS forms.
    
    <br />
    
    Please login to have access to the application.</p>
        
    <br />

    @*Check if use is logged in before revealing links*@
    @if (Request.IsAuthenticated)
    {        
        @Html.ActionLink("Access CANS Form here.", "CANSForm", "CANSForm", null, null)
        <br/>
        <br />
        @Html.ActionLink("Manage roles (ADMIN Only)", "Index", "Users", null, null)

    }
    
    
</body>