@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>CANS Tracking System</h1>
    <p class="lead">Enter, monitor, and track CANS assessments for patients.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Create a new account before you use the application for the first time.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Register here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Login to use the application with an existing account.</p>
        <p><a class="btn btn-default" href="@Url.Action("Login", "Account")">Login here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Contact Daniel's IT administrators if you encounter any issues or errors.</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Contact here &raquo;</a></p>
    </div>
</div>