
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<body>
    <h1>Admin Functions</h1>
    <p>Below is a list of admin functions:</p>
    <ul>
        <li>@Html.ActionLink("Create an account for a new user", "Register", "Account")</li>
        <li>@Html.ActionLink("Manage roles for users", "ManageUserRoles", "Roles")</li>
        <!--<li>@Html.ActionLink("View list of users", "SearchPatients", "Graph")</li>-->
    </ul>
</body>
</html>
