@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<p>
    @Html.ActionLink("Back to List", "Index", "AdminFunctions")
</p>
<div>
    <p>
        User password has been reset.
    </p>
</div>