
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<body>
    <h1>CANS Functions</h1>
    <p>Below is a list of CANS functions:</p>
    <ul>
        <li><a href="~/Form.aspx">Create an Assessment</a></li>
        <li><a href="~/List.aspx">View and Edit Past CANS Assessments</a></li>
    </ul>
</body>
</html>

