@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Verify your account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p> <br />
        Your account has been successfully created.
        <br />
        <br />
        @Html.ActionLink("Return to Admin page", "Index", "AdminFunctions")
        <!--Please click the link in the email to verify your account before using the CANS Tracking System.
        <br />
        <br />
        If the email doesn't appear in your inbox, please check your <b>junk/spam</b> folder.-->
    </p>
</div>