@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        <br />
        <br />
        Please check your email in <b>5 minutes</b> to reset your password.
        <br/>
        <br/>
        If the email doesn't appear in your inbox, please check your <b>junk/spam</b> folder.      
        <br />
        <br />
        <b>Important: </b>Move the email to your inbox to access the link to reset your password. (See image below)
        <br />
        <br />
    </p>
    <img src="~/Content/Images/MoveToInbox.jpg" />
</div>
	
